# dependencies
node_modules/
.pnp
.pnp.js

# next
.next/
out/
dist/

# env / secrets
.env
.env.*
!.env.example

# logs / debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# os / editor
.DS_Store
Thumbs.db
.idea/
*.swp

# vercel
.vercel

# typescript
next-env.d.ts
*.tsbuildinfo
